@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    height: 5rem;
}

h2{
    color: #28373c;
    font-size: 2.5rem;
    margin-bottom: 1rem; 
}

h3{
    color: #28373c;
    font-size: 1.5rem;
}
  
p{
    font-size: 1.5rem;
    margin-bottom: .5rem; 
    line-height: 1.5; 
}

a{
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li{
    letter-spacing: 3px;
    padding: 1rem;
}

.nav-list a,
.nav-list a:visited {
  color: #e9e9e9 !important;
}


.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #e9e9e9;
    margin: 6px auto;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow: hidden;
    }

    .nav-list {
        position: absolute;
        top: 5rem; /* altura do header */
        right: 0;
        width: 50vw;
        height: calc(100vh - 8rem); /* ocupa o restante da tela */
        background-color: #28373c;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding-top: 2rem;
        transform: translateX(100%);
        visibility: hidden; 
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
    visibility: visible; 
    transition: transform 0.3s ease-in, visibility 0s 0s;  
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px)
}

body{
    color: #434343;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    background-color: #434343;
    
}

header{
    padding-top: 2rem;
    background-color: #28373c;
    color: #e9e9e9;
    text-align: center;
}

main{
    background-color: #bfbfbf;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

form{
    display: flex;
    justify-content: center;
}

fieldset{
    border: 2px solid #434343;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.25rem;
    width: 70%;
}

legend{
    color: #28373c;
    padding: 0 0.5rem;
}

input:not([type="date"]):not([type="tel"]), textarea{
    width: 100%;
}

input{
    height: 2rem;
}

input, textarea{
    border: 0.125rem solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
    font-size: 1rem;
    margin-bottom: 1rem;
}

input:hover, input:focus, textarea:hover, textarea:focus{
    outline: none;
    border-color: #1d90f5;
    box-shadow: 0 0 0 0.1rem #28373c;
}

button{
    background-color: #28373c;
    border: none;
    padding: .8rem;
    color: #e9e9e9;
    border-radius: 99px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 20%;
}

button:disabled{
    cursor: not-allowed;
    background-color: #8f8f8f;
}

.logo-container{
    padding: 2rem;
}

.logo-container img {
    padding: 0.5rem;
    height: 5rem;
}

.iconzap{
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
}

.iconzap .fab{
    padding-top: 9px;
}

.iconzap:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

iframe{
    width: 50rem;
    height: 25rem;
    border: 0;
    padding: 1rem;
}

.container-form {
    display: flex;
    justify-content: center;
}

footer{
    background-color: #434343;
    padding: 2rem;
    text-align: center;
}

.paragrafo-footer{
    color: #bfbfbf;
    font-size: .8rem;
}  